body {
    background-color: #e9e9e9;
}
a {
    text-decoration: none;
}
h3 {
    color: #4481bb;
    font-weight: bold
}
.title {
    margin-top: 3em;
    margin-bottom: 5em;
    border-bottom: 1px dotted gray;
}
.titleAppli {
    color: hsl(298, 100%, 25%);
}
.button-modal {
    margin-bottom: 3em;
}
#listGame-tab, #proposition-tab, #addGame-tab, #ipList-tab, #type-tab {
    font-weight: bold;
    color: #4481bb;
}
#myTabContent {
    background-color: white;
    padding: 1em;
}
.green {
    color: white;
    background-color: rgb(6, 146, 6);
}
.orange {
    color: white;
    background-color: rgb(248, 123, 78);
}
.red {
    color: white;
    background-color: rgb(248, 96, 96);
}
.blue {
    color: white;
    background-color: rgb(96, 144, 248);
}
.pink {
    color: palevioletred;
    font-weight: bold;
}
.formulaire-box {
    background-color: whitesmoke;
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 3em;
}
/* MODAL */
h4.modal-title {
    color: #4481bb;
    font-weight: bold;
}
.modal-body {
    background-color: whitesmoke;
}
#empty-btn:hover {
    color: grey;
}
#thumbnail,  #thumbnail-modal-add{
    display: none;
    border: 1px solid red;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
    /* text-overflow: ellipsis; */
    padding-bottom: 5em;
}
.box {
    display: flex;
    flex-direction: row;
}
#box1 {
    border-right: 6px solid palevioletred;
}
#box2{
    /* border: 1px solid white; */
}
#image-view, #image-view-modal-add {
    width: 100%;
    height: auto;
    margin-left: 3px;
    border: 1px solid #4481bb;
}
.btn-red {
    color: #e60000;
}
.btn-green {
    color: #009933;
}
.fa {
    font-size:24px;
}